.main {
  background-color: #2f303a;
  text-align: center;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: black;
}

a:hover {
  color: #2196f3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 93px;
}

.list-header {
  display: flex;
  gap: 50px;
}

.links-header {
  margin-left: auto;
}
.main {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-body {
  font-family: "Roboto", sans-serif;
}

.page2 {
  font-family: "Roboto", sans-serif;
}

.links-header {
  display: flex;
  gap: 50px;
}

.link-other-list-header a {
  color: grey;
}

.logo-list-header {
  color: black;
}

.color-logo {
  color: #2196f3;
}

.logo-footer {
  color: white;
  padding-bottom: 20px;
}
.link-ul-list-header {
  font-weight: medium;
  font-size: 14;
}

.text-main {
  line-height: 60px;
  font-weight: bold;
  font-size: 44px;
  color: #f5f4fa;
  text-transform: uppercase;
}

.button-main {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #2196f3;
  color: #f5f4fa;
}

.description {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-description {
  display: flex;
  justify-content: space-between;
}

.caption-item-list-description {
  font-size: 14px;
  font-weight: bold;
    padding-bottom: 10px;
}
.text-item-list-description {
  font-size: 14px;
  color: grey;
}

.address-header {
  color: grey;
}

.do {
  padding-top: 94px;
  padding-bottom: 94px;
    gap: 30px;
}
.text-do {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.list-do {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.item-list-do {
  width: 370px;
}

.team {
  padding-top: 94px;
  padding-bottom: 124px;
}

.caption-team {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.list-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
    padding-top: 50px;
}

.img-item-list-team {
    width:100%;
    height: 260px;
    object-fit: cover;
}

.item-list-team {
  background-color: rgb(255, 255, 255);
  width: 270px;
}

.caption-iteam-list-team {
  font-size: 16px;
  font-weight: medium;
  padding-top: 30px;
  padding-bottom: 10px;
}

.text-item-list-team {
  font-size: 16px;
  color: grey;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.link-footer {
  color: grey;
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  color: white;
  margin-bottom: 9px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
}

.menu-item-button {
  height: 38px;
  width: 73px;
  background-color: #f5f4fa;
  color: black;
}

.menu-item-button:hover {
  background-color: #2196f3;
  color: #f5f4fa;
}

.portfolio-list {
      display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
    padding-bottom: 30px;
}

.portfolio-list-item-img {
  width: 370px;
}

.portfolio-list-caption {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio-list-item-text {
  font-size: 16px;
  color: grey;
  padding-bottom: 20px;
}

.menu {
  padding-top: 94px;
  padding-bottom: 34px;
}

.portfolio {
  padding-top: 34px;
  padding-bottom: 114px;
}
