.main {
  /* background-color: #2f303a; */
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  color: #2196f3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 15px;
  outline: 1px solid #ececec;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 93px;
}

.list-header {
  display: flex;
  gap: 50px;
}

.links-header {
  margin-left: auto;
}
.main {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image:
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("./images/img-head.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-body {
  font-family: "Roboto", sans-serif;
}

.page2 {
  font-family: "Roboto", sans-serif;
}

.links-header {
  display: flex;
  gap: 50px;
}

.link-other-list-header a {
  color: grey;
}

.logo-nav-header {
  color: black;
  font-family: "Raleway", sans-serif;
}

.color-logo {
  color: #2196f3;
}

.logo-footer {
  color: white;
  margin-bottom: 20px;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
}
.link-ul-list-header {
  font-weight: medium;
  font-size: 14;
}

.text-main {
  max-width: 696px;
  line-height: 60px;
  font-weight: bold;
  font-size: 44px;
  color: #f5f4fa;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0px;
}

.button-main {
  width: 216px;
  height: 50px;
  font-size: 18px;
  background-color: #2196f3;
  color: #f5f4fa;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  line-height: 1.875;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item-list-description::before {
  content: "";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
  background-image: url("./images/satellite.png");
  margin-bottom: 30px;
  border-radius: 5px;
}

.item-list-description:nth-child(2)::before {
  background-image: url("./images/clock.png");
}

.item-list-description:nth-child(3)::before {
  background-image: url("./images/laptop.png");
}

.item-list-description:nth-child(4)::before {
  background-image: url("./images/spaceman.png");
}

.list-description {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.caption-item-list-description {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-item-list-description {
  font-size: 14px;
  color: grey;
  line-height: 24px;
}

.address-header {
  color: grey;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-img {
  width: 16px;
  height: 12px;
  fill: grey;
}

.header-img2 {
  width: 10px;
  height: 16px;
  fill: grey;
}

.address-header:hover .header-img {
  fill: #2196f3;
}

.address-header:hover .header-img2 {
  fill: #2196f3;
}

.do {
  /* padding-top: 94px; */
  padding-bottom: 94px;
  gap: 30px;
}
.text-do {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.list-do {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  gap: 30px;
}

.item-list-do {
  display: block;
  width: 100%;
}

.do-item {
  /* width: 370px; */
  position: relative;
}

.caption-do {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.caption-team {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.img-item-list-team {
  width: 100%;
  height: 260px;
  display: block;
}

.item-list-team {
  background-color: rgb(255, 255, 255);
  width: 270px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 4px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.caption-iteam-list-team {
  font-size: 16px;
  font-weight: medium;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-item-list-team {
  font-size: 16px;
  color: grey;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 18px;
}

.team-img {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-link:hover {
  border-radius: 50%;
  outline: 1px solid #2196f3;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}

.team-link:hover .team-img {
  fill: #ffffff;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.client-caption {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.client-ul {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.client-img {
  height: 46px;
  width: 41px;
  fill: #afb1b8;
}

.client-img2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}

.client-img3 {
  width: 44px;
  height: 42px;
  fill: #afb1b8;
}

.client-img4 {
  width: 84px;
  height: 40px;
  fill: #afb1b8;
}

.client-img5 {
  width: 63px;
  height: 46px;
  fill: #afb1b8;
}

.client-img6 {
  width: 94px;
  height: 44px;
  fill: #afb1b8;
}

.client-link:hover {
  outline: 2px solid #2196f3;
}

.client-link:hover .client-img {
  fill: #2196f3;
}

.client-link:hover .client-img2 {
  fill: #2196f3;
}

.client-link:hover .client-img3 {
  fill: #2196f3;
}

.client-link:hover .client-img4 {
  fill: #2196f3;
}

.client-link:hover .client-img5 {
  fill: #2196f3;
}

.client-link:hover .client-img6 {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.link-footer {
  color: grey;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 9px;
  line-height: 24px;
}

.footer-join {
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.footer-img {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  color: white;
  margin-bottom: 9px;
}

.footer-link {
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 10%);
  background-color: rgba(255, 255, 255, 10%);
  width: 44px;
  height: 44px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link:hover {
  border-radius: 50%;
  outline: 1px solid #2196f3;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}

.footer-caption {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 34px;
}

.menu-item-button {
  height: 38px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: black;
  border-radius: 4px;
}

.menu-item-button:hover {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-content: flex-end;
}

.portfolio-list-caption {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 36px;
  font-size: 18px;
}
.portfolio-list-item-text {
  font-size: 16px;
  color: grey;
  padding-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 30px;
  font-size: 16px;
}

.images-list-item {
  flex-basis: calc((100% - 8 * 30px) / 9);
  box-sizing: border-box;
  outline: 1px solid #eeeeee;
}

.images-list-item:hover {
  outline: 1px solid #eee;
  box-shadow:
    1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.menu {
  padding-top: 94px;
  padding-bottom: 34px;
}

.portfolio {
  padding-top: auto;
  padding-bottom: 114px;
}

.container-footer {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
}
