.main {
  background-color: #2f303a;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  color: #2196f3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 15px;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 93px;
}

.list-header {
  display: flex;
  gap: 50px;
}

.links-header {
  margin-left: auto;
}
.main {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-body {
  font-family: "Roboto", sans-serif;
}

.page2 {
  font-family: "Roboto", sans-serif;
}

.links-header {
  display: flex;
  gap: 50px;
}

.link-other-list-header a {
  color: grey;
}

.logo-nav-header {
  color: black;
  font-family: "Raleway", sans-serif;
}

.color-logo {
  color: #2196f3;
}

.logo-footer {
  color: white;
  margin-bottom: 20px;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
}
.link-ul-list-header {
  font-weight: medium;
  font-size: 14;
}

.text-main {
  max-width: 696px;
  line-height: 60px;
  font-weight: bold;
  font-size: 44px;
  color: #f5f4fa;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0px;
}

.button-main {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #2196f3;
  color: #f5f4fa;
  margin-top: 30px;
  border-radius: 4px;
}

.description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item-list-description::before {
  content: "";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 270px;
  height: 120px;
  background-image: url("./images/satellite.png");
    margin-bottom: 30px;
    border-radius: 5px;
}

.item-list-description:nth-child(2)::before {
  background-image: url("./images/clock.png");
}

.item-list-description:nth-child(3)::before {
  background-image: url("./images/laptop.png");
}

.item-list-description:nth-child(4)::before {
  background-image: url("./images/spaceman.png");
}

.list-description {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.caption-item-list-description {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-item-list-description {
  font-size: 14px;
  color: grey;
  line-height: 24px;
}

.address-header {
  color: grey;
}

.do {
  /* padding-top: 94px; */
  padding-bottom: 94px;
  gap: 30px;
}
.text-do {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.list-do {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  gap: 30px;
}

.item-list-do {
  width: 370px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.caption-team {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.img-item-list-team {
  width: 100%;
  height: 260px;
  display: block;
}

.item-list-team {
  background-color: rgb(255, 255, 255);
  width: 270px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 4px;
}

.caption-iteam-list-team {
  font-size: 16px;
  font-weight: medium;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-item-list-team {
  font-size: 16px;
  color: grey;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.link-footer {
  color: grey;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 9px;
  line-height: 24px;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  color: white;
  margin-bottom: 9px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 34px;
}

.menu-item-button {
  height: 38px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: black;
  border-radius: 4px;
}

.menu-item-button:hover {
  background-color: #2196f3;
  color: #f5f4fa;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-content: flex-end;
}

.portfolio-list-item-img {
  width: 370px;
  /* width: 370px; */
}

.portfolio-list-caption {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 36px;
  font-size: 18px;
}
.portfolio-list-item-text {
  font-size: 16px;
  color: grey;
  padding-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 30px;
  font-size: 16px;
}

.images-list-item {
  flex-basis: calc((100% - 8 * 30px) / 9);
}

.menu {
  padding-top: 94px;
  padding-bottom: 34px;
}

.portfolio {
  padding-top: auto;
  padding-bottom: 114px;
}
