.main {
  background-color: #2f303a;
  text-align: center;
}

.container {
  width: 1200px;
  padding-left: 215px;
  padding-right: 215px;
}

a {
  color: black;
}

a:hover {
  color: #2196f3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.main {
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-body {
  font-family: "Roboto", sans-serif;
}

.page2 {
  font-family: "Roboto", sans-serif;
}

.link-other-list-header a {
  color: grey;
}

.logo-list-header {
  color: black;
}

.color-logo {
  color: #2196f3;
}


.logo-footer {
  color: white;
}
.link-ul-list-header {
  font-weight: medium;
  font-size: 14;
}

.text-main {
  line-height: 60px;
  font-weight: bold;
  font-size: 44px;
  color: #f5f4fa;
  text-transform: uppercase;
}

.button-main {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #2196f3;
  color: #f5f4fa;
}

.description {
  padding-top: 94px;
  padding-bottom: 22px;
}

.caption-item-list-description {
  font-size: 14px;
  font-weight: bold;
} 
.text-item-list-description {
  font-size: 14px;
  color: grey;
}

.address-header {
  color: grey;
}

.do {
  padding-top: 70px;
  padding-bottom: 94px;
}
.text-do {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 124px;
}

.caption-team {
  font-weight: bold;
  font-size: 36px;
  text-align: center;  
}

.caption-iteam-list-team {
  font-size: 16px;
  font-weight: medium;
}

.text-item-list-team {
  font-size: 16px;
  color: grey;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.link-footer {
  color: grey;
  font-size: 14px;
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  color: white;
}

.menu-item-button {
  height: 38px;
  width: 73px;
  background-color: #F5F4FA;
  color: black;
}

.menu-item-button:hover {
  background-color: #2196f3;
  color: #f5f4fa;
}

.portfolio-list-caption {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.portfolio-list-item-text {
  font-size: 16px;
  color: grey;
}

.menu {
  padding-top: 94px;
  padding-bottom: 34px;
}

.portfolio {
  padding-top: 34px;
  padding-bottom: 114px;
}