.client, .team, .description {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  border: none;
}

address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 10px 0;
  outline: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  min-width: 0;
}
.header__studio {
  font-family: "Roboto", sans-serif;
  color: black;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .header__studio {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__studio {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__web {
  color: #2196f3;
}
.header__list {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
.header__focus {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: opacity, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.header__focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  top: 51px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.header__focus:hover::after {
  opacity: 1;
}
.header__page {
  color: black;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.header__page:hover {
  color: #2196f3;
}
.header__address {
  margin-left: auto;
  display: none;
  gap: 30px;
  min-width: 0;
}
@media screen and (min-width: 768px) {
  .header__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__address {
    flex-direction: row;
    gap: 50px;
  }
}
.header__contacts {
  min-width: 0;
  color: grey;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.header__contacts:hover .header__img {
  fill: #2196f3;
}
.header__contacts:hover .header__img2 {
  fill: #2196f3;
}
.header__img {
  width: 16px;
  height: 12px;
  fill: grey;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.header__img2 {
  width: 10px;
  height: 16px;
  fill: grey;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-head.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: #f5f4fa;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
  }
}

.hero__button {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.description {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.description__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .description__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .description__list {
    flex-wrap: nowrap;
  }
}
.description__item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/satellite.png");
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .description__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .description__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .description__item::before {
    width: 270px;
  }
}
.description__item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}
.description__item:nth-child(3)::before {
  background-image: url("../images/laptop.png");
}
.description__item:nth-child(4)::before {
  background-image: url("../images/spaceman.png");
}
.description__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .description__title {
    text-align: left;
  }
}
.description__subtitle {
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.4px;
  color: grey;
}
@media screen and (min-width: 480px) {
  .description__subtitle {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .description__subtitle {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .description__subtitle {
    width: 270px;
  }
}

.do {
  display: none;
  padding-bottom: 94px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .do {
    display: block;
  }
}
.do__title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.do__list {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  gap: 30px;
}
.do__item {
  position: relative;
}
.do__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
}
.do__img {
  display: block;
  width: 100%;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.team__card {
  background-color: rgb(255, 255, 255);
  flex-basis: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 24px;
}
@media screen and (min-width: 480px) {
  .team__card {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__image {
  width: 100%;
}
.team__name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.team__role {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
  color: grey;
}
.team__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 18px;
}
.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color, outline, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
  border-radius: 50%;
}
.team__social-link:hover {
  border-radius: 50%;
  outline: 1px solid #2196f3;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}
.team__social-link:hover .team__icon {
  fill: #ffffff;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}

.client {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .client__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.client__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.client__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover {
  outline: 2px solid #2196f3;
}
.client__link:hover .client__icon {
  fill: #2196f3;
}
.client__link:hover .client__icon2 {
  fill: #2196f3;
}
.client__link:hover .client__icon3 {
  fill: #2196f3;
}
.client__link:hover .client__icon4 {
  fill: #2196f3;
}
.client__link:hover .client__icon5 {
  fill: #2196f3;
}
.client__link:hover .client__icon6 {
  fill: #2196f3;
}
.client__icon {
  height: 46px;
  width: 41px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .client__icon {
    width: 106px;
  }
}
.client__icon2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .client__icon2 {
    width: 106px;
  }
}
.client__icon3 {
  width: 44px;
  height: 42px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .client__icon3 {
    width: 106px;
  }
}
.client__icon4 {
  width: 84px;
  height: 40px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .client__icon4 {
    width: 106px;
  }
}
.client__icon5 {
  width: 63px;
  height: 46px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .client__icon5 {
    width: 106px;
  }
}
.client__icon6 {
  width: 94px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .client__icon6 {
    width: 106px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    display: flex;
    align-items: first baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__info {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: start;
  }
}
.footer__studio {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 1200px) {
  .footer__studio {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}
.footer__web {
  color: #2196f3;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 9px;
}
.footer__contact {
  color: grey;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 9px;
  line-height: 24px;
}
.footer__social {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    text-align: start;
    margin-left: 70px;
    margin-right: auto;
  }
}
.footer__title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    gap: 12px;
  }
}
.footer__socials {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    text-align: start;
    margin-left: auto;
    margin-top: 0;
  }
}
.footer__link {
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-radius, outline, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-radius, outline, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.footer__link:hover {
  border-radius: 50%;
  outline: 1px solid #2196f3;
  background-color: #2196f3;
  width: 44px;
  height: 44px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer__subscribe {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.footer__caption {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__caption {
    text-align: left;
  }
}
.footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: 0 0 20px 0;
  background-color: #2F303A;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin: 0;
  }
}
.footer__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  display: block;
}
.footer__button-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
}

.modal {
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  padding: 40px;
  box-sizing: border-box;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.modal__close:hover .modal__close-icon {
  fill: #2196f3;
}
.modal__cross {
  width: 11px;
  height: 11px;
  fill: #000;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal__field {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  position: relative;
}
.modal__input {
  display: block;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.modal__input:hover, .modal__input:focus {
  outline: 1px solid #2196f3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  width: 14px;
  height: 14px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.modal__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__checkbox {
  width: 16px;
  height: 15px;
}
.modal__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-left: 9px;
}
.modal__link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 4px;
}
.modal__submit {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  display: block;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  background-color: rgba(12, 7, 8, 0.4745098039);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.menu {
  padding-top: 94px;
  padding-bottom: 34px;
}
@media screen and (min-width: 480px) {
  .menu {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding-top: 60px;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  list-style: none;
  align-content: flex-end;
  margin-bottom: 34px;
}
@media (min-width: 480px) {
  .menu__list {
    -moz-column-gap: 6px;
         column-gap: 6px;
    row-gap: 10px;
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .menu__list {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 8px;
  }
}
.menu__button {
  height: 38px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: black;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
.menu__button:hover {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio {
  padding-top: auto;
  padding-bottom: 114px;
}
@media screen and (min-width: 480px) {
  .portfolio {
    padding-top: 0;
  }
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
@media (max-width: 480px) {
  .portfolio__list {
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    justify-content: center;
  }
}
.portfolio__wrapper {
  position: relative;
  overflow: hidden;
  height: 294px;
}
.portfolio__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__hover {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 255, 0.9);
  width: 100%;
  height: 100%;
  opacity: 0;
  line-height: 156%;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
  transform: translateY(100%);
}
.portfolio__title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 36px;
  font-size: 18px;
}
.portfolio__subtitle {
  font-size: 16px;
  color: grey;
  padding-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 30px;
  font-size: 16px;
}
.portfolio__item {
  flex-basis: 100%;
  box-sizing: border-box;
  outline: 1px solid #eeeeee;
  position: relative;
  transition-property: outline, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2);
}
@media (max-width: 480px) {
  .portfolio__item {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio__item:hover {
  outline: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio__item:hover .portfolio__hover {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */