$header: #ececec;
$hero-bg: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
$team-card-bg: rgb(255, 255, 255);
$team-card-shadow:
  0 2px 1px 0 rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
$menu-button-hover-shadow:
  0 2px 2px 0 rgba(0, 0, 0, 0.12),
  0 1px 2px 0 rgba(0, 0, 0, 0.08),
  0 3px 1px 0 rgba(0, 0, 0, 0.1);
$portfolio-hover-bg: rgb(33, 150, 255, 90%);
$portfolio-item: #eeeeee;
$portfolio-item-hover-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);;
$modal-close-outline:rgba(0, 0, 0, 0.1);
$modal-close-icon: #000;
$modal-input-outline: rgba(33, 33, 33, 0.2);
$modal-textarea-outline: rgba(33, 33, 33, 0.2);
$modal-textarea: rgba(117, 117, 117, 0.5);;
$modal-text: #757575;
$backdrop: #0c070879;
$text-color: black;
$accent-color: #2196f3;
$svg-color: grey;
$text-color2: #f5f4fa;
$bg: #ffffff;
$icon: #afb1b8;
$modal:#212121;
$footer-bg: #2F303A;
$footer-link: rgba(255, 255, 255, 10%);
$footer-input:rgba(255, 255, 255, 0.3);


$font-family: "Roboto", sans-serif;
$font-family2: "Raleway", sans-serif;