@use "../base/variables" as *;
@use "../utils/mixin" as *;
@use "../utils/placeholder" as *;

.client {
  // padding-top: 94px;
  // padding-bottom: 94px;
  @extend %indets-on-sections;
  background-color: $bg;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    color: $modal;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid $icon;
    border-radius: 4px;
    width: 100%;
    height: 92px;
    // transition-property: outline;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation($property: outline);
    @media screen and (min-width: 480px) {
      width: 210px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__link:hover {
    outline: 2px solid $accent-color;
  }

  &__link:hover .client__icon {
    fill: $accent-color;
  }

  &__link:hover .client__icon2 {
    fill: $accent-color;
  }

  &__link:hover .client__icon3 {
    fill: $accent-color;
  }

  &__link:hover .client__icon4 {
    fill: $accent-color;
  }

  &__link:hover .client__icon5 {
    fill: $accent-color;
  }

  &__link:hover .client__icon6 {
    fill: $accent-color;
  }

  &__icon {
    height: 46px;
    width: 41px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
     @media  screen and (min-width: 320px) {
      width: 106px;
    }
  }

  &__icon2 {
    width: 40px;
    height: 52px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
     @media  screen and (min-width: 320px) {
      width: 106px;
    }
  }

  &__icon3 {
    width: 44px;
    height: 42px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
     @media  screen and (min-width: 320px) {
      width: 106px;
    }
  }

  &__icon4 {
    width: 84px;
    height: 40px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
     @media  screen and (min-width: 320px) {
      width: 106px;
    }
  }

  &__icon5 {
    width: 63px;
    height: 46px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
     @media  screen and (min-width: 320px) {
      width: 106px;
    }
  }

  &__icon6 {
    width: 94px;
    height: 44px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
     @media  screen and (min-width: 320px) {
      width: 106px;
    }
  }
}
