@use "../base/variables" as *;
@use "../utils/mixin" as *;

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg;

  &__container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: baseline;
      gap: 70px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 1200px) {
      width: auto;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__studio {
    color: $bg;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: $font-family2;
  }

  &__web {
    color: $accent-color;
  }

  &__address {
    font-style: normal;
    font-size: 14px;
    color: $bg;
    margin-bottom: 9px;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
  }

  &__contact {
    color: $svg-color;
    font-size: 14px;
    // display: flex;
    // flex-direction: column;
    gap: 9px;
    margin-bottom: 9px;
    line-height: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 51px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      width: 50%;
      margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
      width: auto;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__caption {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $bg;
    margin-bottom: 20px;
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  &__item {
    display: flex;
  }

  &__link {
    border-radius: 50%;
    outline: 1px solid $footer-link;
    background-color: $footer-link;
    width: 44px;
    height: 44px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // transition-property: border-radius, outline, background-color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation(
      $property: (
        border-radius,
        outline,
        background-color,
      )
    );
  }

  &__link:hover {
    border-radius: 50%;
    outline: 1px solid $accent-color;
    background-color: $accent-color;
    width: 44px;
    height: 44px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $bg;
  }

  &__subscribe {
    // margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: 100%;
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
      width: auto;
      margin-left: auto;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 12px;
      justify-content: baseline;
    }
  }

  &__input {
    border: 1px solid $footer-input;
    border-radius: 4px;
    width: 450px;
    height: 50px;
    // margin-right: 12px;
    background-color: $footer-bg;

    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
        margin-top: 0;
    }
  }

  &__button-icon {
    fill: $bg;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
  }
}
