@use "../base/variables" as *;
@use "../utils/mixin" as *;

.menu {
  padding-top: 94px;
  padding-bottom: 34px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
    list-style: none;
    // justify-content: center;
    align-content: flex-end;
    margin-bottom: 34px;
    width: 326px;

    @media screen and (min-width: 768px) {
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      gap: 8px;
    }
  }

  &__button {
    height: 38px;
    padding: 6px 22px;
    background-color: $text-color2;
    color: $text-color;
    border-radius: 4px;
    // transition-property: background-color, color, box-shadow;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation(
      $property: (
        background-color,
        color,
        box-shadow,
      )
    );
  }

  &__button:hover {
    background-color: $accent-color;
    color: $text-color2;
    box-shadow: $menu-button-hover-shadow;
  }
}
