@use"../base/variables" as *;


.menu {
  padding-top: 94px;
  padding-bottom: 34px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 34px;
  }

  &__button {
    height: 38px;
    padding: 6px 22px;
    background-color: $text-color2;
    color: $text-color;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover {
    background-color: $accent-color;
    color: $text-color2;
    box-shadow: $menu-button-hover-shadow;
  }
}
