@use"../base/variables" as *;


.portfolio {
  padding-top: auto;
  padding-bottom: 114px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__hover {
    font-size: 18px;
    font-weight: 400;
    color: $portfolio-hover;
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: $portfolio-hover-bg;
    width: 100%;
    height: 100%;
    opacity: 0;
    line-height: 156%;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $portfolio-title;
    padding-top: 20px;
    padding-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;
    line-height: 36px;
    font-size: 18px;
  }

  &__subtitle {
    font-size: 16px;
    color: $portfolio-subtitle;
    padding-bottom: 20px;
    margin-right: 24px;
    margin-left: 24px;
    line-height: 30px;
    font-size: 16px;
  }

  &__item {
    flex-basis: calc((100% - 60px) / 3);
    box-sizing: border-box;
    outline: 1px solid $portfolio-item;
    position: relative;
    transition-property: outline, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover {
    outline: 1px solid $portfolio-item-hover-outline;
    box-shadow: $portfolio-item-hover-shadow;
  }

  &__item:hover .portfolio__hover {
    opacity: 1;
    transform: translateY(0);
  }
}
