.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
}

.portfolio-list-caption {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;
    line-height: 36px;
    font-size: 18px;
}

.portfolio-list-item-text {
    font-size: 16px;
    color: grey;
    padding-bottom: 20px;
    margin-right: 24px;
    margin-left: 24px;
    line-height: 30px;
    font-size: 16px;
}

.portfolio-hover {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: rgb(33, 150, 255, 90%);
    width: 100%;
    height: 100%;
    opacity: 0;
    line-height: 156%;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.images-list-item {
    flex-basis: calc((100% - 60px) / 3);
    box-sizing: border-box;
    outline: 1px solid #eeeeee;
    position: relative;
    transition-property: outline, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* overflow: hidden; */
}

.images-list-item:hover {
    outline: 1px solid #eee;
    box-shadow:
        1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.images-list-item:hover .portfolio-hover {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio {
    padding-top: auto;
    padding-bottom: 114px;
}