@use "../base/variables" as *;
@use "../utils/mixin" as *;
@use "../utils/placeholder" as *;

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  @extend %indets-on-sections;
  background-color: $text-color2;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    // @media screen and (min-width: 768px) {
    //   flex-direction: row;
    //   flex-wrap: wrap;
    // }

    // @media screen and (min-width: 1200px) {
    //   margin-top: 50px;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   align-items: center;
    // }
  }

  &__card {
    background-color: $team-card-bg;
    flex-basis: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: $team-card-shadow;
    padding-bottom: 24px;

    @media screen and (min-width: 480px) {
        flex-basis: 450px;
      }

      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
      }

      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
      }
  }

  &__image {
    width: 100%;
  }

  &__name {
     text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__role {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
    color: $svg-color;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 18px;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    // transition-property: background-color, outline, border-radius;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation(
      $property: (
        background-color,
        outline,
        border-radius,
      )
    );
    border-radius: 50%;
  }

  &__social-link:hover {
    border-radius: 50%;
    outline: 1px solid $accent-color;
    background-color: $accent-color;
    width: 44px;
    height: 44px;
  }

  &__social-link:hover .team__icon {
    fill: $bg;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $icon;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include animation();
  }
}
